*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat';
    color: #fff;
}
html,body{
    height: 100%;
    width: 100%;
   
}
*::selection{
     background-color: #fff;
     color: #119F3A;
}
body::-webkit-scrollbar{
    width: 10px;
    background: linear-gradient(#e98502,#f0b208);
}
body::-webkit-scrollbar-thumb{
    background-color: #fff;
    border-radius: 50px;

}
#cursor{
    height: 25px;
    width: 25px;
    background-color: #e98502;
    border-radius: 50%;
    position: fixed;
    /* transition: all linear 0.4s */
     z-index: 99;
     mix-blend-mode: difference;
    
}
#cursor-blur{
    height: 500px;
    width: 500px;
    background-color: transparent;
    border-radius: 50%;
    position: fixed;
    filter: blur(80px);
    z-index: 9;
}
#nav{
    height: 145px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    padding: 0 130px;
    position: fixed;
    z-index: 99;
}
#nav img{
    height: 75px;
    border-radius: 50%;
}
#nav h4{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 30px;
}
video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}
#main{
  position: relative;
  background-color: rgba(0, 0, 0, 0.37);
}
#page1{
    height: 100vh;
    width: 100%;
     position: relative;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     text-align: center;
     z-index: 10;
}
#page1 h1{
    font-size: 140px;
    font-weight: 900;
    position: relative;
}
#page1 h1::before{
    content: "SPORTS . AND . RACES";
    position: absolute;
    color: #000;
    top: -6px;
    left: -8px;
    -webkit-text-stroke: 2px #e98502;
    z-index: -1;
}
#page1 h2{
    font-size: 60px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
}
#page1 p{
    font-size: 30px;
    font-weight: 500;
    width: 40%;
}
#page1 #arrow{
    height: 250px;
    width: 250px;
    background-color: transparent;
    position: absolute;
    display: flex;
    border: 2px solid #e98502;
    left: -1%;
    bottom: 0%;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all ease 0.5s;
}
#page1 #arrow i{
   font-size: 50px;
   font-weight: 900;
}
#page1 #arrow:hover{
    scale: 0.4;
    background-color: #e98502;
}
#page2{
    min-height: 100vh;
    width: 100%;
    z-index: 10;
}
#scroller{
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
}
#scroller::-webkit-scrollbar{
    display: none;
}
#scroller-in{
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#scroller h4{
    display: inline-block;
    font-size: 120px;
    font-family: gilroy;
    font-weight: 900;
    margin-right: 10px;
    transition: all linear 0.5s;
    color: transparent;
    -webkit-text-stroke: 2px #e98502;
}
#scroller h4:hover{
    color: #e98502;
}
@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}
#about-us{
    height: 40vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    /* padding: 0 50px; */
    justify-content: space-around;
    position: relative;
    z-index: 10;
}
#about-us img{
  height: 250px;
  width: 250px;
  border-radius: 20px;
  object-fit: cover;
}
#about-us-in{
    width: 50%;
    text-align: center;
}
#about-us-in h3{
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 30px;
}
#about-us-in p{
    font-size: 40px;
    line-height: 50px;
    font-weight: 500;
    padding: 10px;
}
#cards-container{
    /* background-color: red; */
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 80px;
    position: relative;
    z-index: 10;
}
.card{
    height: 80%;
    border-radius: 20px;
    width: 24%;
    /* background-color: #95c11e; */
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: all ease 0.6s;
}
#card1{
    background-image: url(assest/hatch\ car.jpg);
}
#card2{
    background-image: url(assest/electric\ cars.jpg);
}
#card3{
    background-image: url(assest/electic\ car.jpg);
}
.overlay{
    height: 100%;
    width: 100%;
    background-color: #e98502;
    padding:30px;
    padding-top: 160px;
    opacity: 0;
    transition: all ease 0.6s;
}
.overlay h4{
    color: #000;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 900;
    white-space: nowrap;
    margin-bottom: 20px;
}
.overlay p{
    color: #000;
    font-size: 18px
}
.card:hover .overlay{
    opacity: 1;
}
.card:hover{
    transform: rotate3d(-1,1,0,20deg);
}
#green-div{
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #95c11e; */
  
}
#green-div h4{
    width: 50%;
    line-height: 50px;
    text-align: center;
    font-weight: 800;
    font-size: 27px;
    text-transform: uppercase;
}
#green-div img{
 height: 100%;
 object-fit: cover;
 width: 350px;
}
#page3{
    height: 100vh;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}
#page3>p{
    font-size: 35px;
    font-weight: 700;
    line-height: 50px;
    width: 40%;
    text-align: center;
}
#page3 img{
    position: absolute;
    height: 60px;
}
#page3 #colon1{
    left: 15%;
    top: 20%;
}
#page3 #colon2{
    bottom: 30%;
    right: 15%;
}
#page4{
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    position: relative;
}
.elem{
    height: 90%;
    width: 26%;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    bottom: 30%;
}
.elem h2{
    height:100%;
    width: 100%;
    background-color: #e98502;
    display: flex;
    color: #000;
    font-size: 40px;
    font-weight: 800;
    align-items: center;
    justify-content: center;
    transition: all ease 0.5s;
    position: absolute;
    z-index: 10;
}
.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.5s;
    scale: 1.1;
}
.elem:hover h2{
    color: transparent;
    background-color: transparent;
}
.elem:hover img{
   scale: 1;
}
#page4 h1{
    font-size: 130px;
    position: absolute;
    top:-50%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #000;
    -webkit-text-stroke: 2px  #fff;
}
#footer{
    height: 40vh;
    width: 100%;
    background: #e98502;
    background: linear-gradient(to left bottom, #e98502 0% ,#f1b86c 80%);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 150px;
    padding: 0 100px;
}
#footer>img{
    position:absolute;
    left:0;
    height: 100%;
    z-index: 0;
    display:inline-block;
}
#f1 img{
    height: 200px;
    border-radius: 50%;
}
#f1,#f2,#f3,#f4{
    width: fit-content;
    position: relative;
    z-index: 99;
    left: 15%;
}
#f2 h3 {
    font-size: 30px;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 800;
    margin-bottom: 8px;
}
#f3 h3{
    font-size: 30px;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 800;
    margin-bottom: 8px;
}
#f4 h4{
    font-size: 25px;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 800;
    line-height: 20px;
    margin-bottom: 8px;
}